body {
    background: black;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    margin: 0;   
    padding: 0;
}

header {
    background: black;
    display: inline;
    margin: 0px;  
    text-align: left;
}

.feature-image img {
    padding: 50px;
    height: 44px;
    width: 250px;
    box-align: center;
}

hr {
    display: flex;
    height: 2px;
    border: 0;
    border-top: 0.5px solid whitesmoke;
    margin: 1em 0;
    padding: 0;
}

nav ul {
    background: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}
section {
    background: black;
}

.feature img {
    display: inline;
    background-color: red;
}

.feature-box div{
    background: black;
    width: 100%;
    margin: 2px;
}

.feature-box.header div{
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.feature-box.subheader div{
    color: rgb(190, 185, 185);
    font-size: 25px;
    padding-bottom: 30px;
    padding-right: 10px;
    text-align: center;
    font-display: inline-flex;
}

.feature-box.content div{
    color: rgb(190, 185, 185);
    font-size: 25px;
    padding-bottom: 30px;
    padding-right: 10px;
    text-align: center;

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}
footer {
    background: black;
    padding: 20px 20px;
    text-align: center;
}

