body {
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    font-style: normal;
    margin: 0;   
    padding-left: 80px;
    padding-right: 80px;
    cursor: url('SPADE_CURSOR.png'), default;
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
}

header {
    display: flexbox;
    margin: 0px;  
    text-align: right;
    padding-bottom: 50px;
}

header img {
    padding-top:30px;
    padding-left: -40px;
    padding-right: 1000px;
    height: 44px;
    width: 250px;
}

h1 {
    text-align: center;
    padding: 50px;
}

.container-1 {
    display: flex;
}

.container-2 {
    display: flex;
}

.container-1 div {
    padding: 5px;
    text-align: center;
}

.container-2 div {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.box-1{
    flex:1;
    padding-bottom: 5px;
}

.box-2{
    flex:1;
}

.box-3{
    flex:1;
}

.box-4{
    flex:1;
}

.positive{
    background-color: rgb(108, 182, 35);
}

.negative{
    background-color: rgb(214, 45, 45);
}

.feature-image img {
    padding: 50px;
    height: 44px;
    width: 250px;
    box-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
  }

p {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: right;
}

li {
    display: inline-block;
    margin-right: 20px;
    font-size: medium;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px 20px;
    text-align: center;
}

